
    
<%- include('partials/header') %>

    <div class="contentContainer">

        <div class="search">
            <i class="fas fa-search"></i>
            <input type="text" name="search" placeholder="Search for a Toast">
        </div>

        <div class="toastContainer">
            <div class="toast">
                <a class="innerToast" href="/">
                    <div class="toastHeader">
                        
                    </div>
                    <h3>Implicit Differentiation</h3>
                    <p>420 people learning</p>
                    <div class="userPreview">
                        <img class="user" src="/img/profilePic.png">
                    </div>
                </a>
            </div>
            <div class="toast">
                <a class="innerToast" href="/">
                    <div class="toastHeader">
                        
                    </div>
                    <h3>Implicit Differentiation</h3>
                    <p>420 people learning</p>
                    <div class="userPreview">
                        <img class="user" src="/img/profilePic.png">
                    </div>
                </a>
            </div>
            <div class="toast">
                <a class="innerToast" href="/">
                    <div class="toastHeader">
                        
                    </div>
                    <h3>Implicit Differentiation</h3>
                    <p>420 people learning</p>
                    <div class="userPreview">
                        <img class="user" src="./img/profilePic.png">
                    </div>
                </a>
            </div>
            <div class="toast">
                <a class="innerToast" href="/">
                    <div class="toastHeader">
                        
                    </div>
                    <h3>Implicit Differentiation</h3>
                    <p>420 people learning</p>
                    <div class="userPreview">
                        <img class="user" src="./img/profilePic.png">
                    </div>
                </a>
            </div>
            <div class="toast">
                <a class="innerToast" href="/">
                    <div class="toastHeader">
                        
                    </div>
                    <h3>Implicit Differentiation</h3>
                    <p>420 people learning</p>
                    <div class="userPreview">
                        <img class="user" src="./img/profilePic.png">
                    </div>
                </a>
            </div>
            <div class="toast">
                <a class="innerToast" href="/">
                    <div class="toastHeader">
                        
                    </div>
                    <h3>Implicit Differentiation</h3>
                    <p>420 people learning</p>
                    <div class="userPreview">
                        <img class="user" src="./img/profilePic.png">
                    </div>
                </a>
            </div>
            <div class="toast">
                <a class="innerToast" href="/">
                    <div class="toastHeader">
                        
                    </div>
                    <h3>Implicit Differentiation</h3>
                    <p>420 people learning</p>
                    <div class="userPreview">
                        <img class="user" src="./img/profilePic.png">
                    </div>
                </a>
            </div>
        </div>

        



    </div>
    <%- include('partials/footer') %>