<%- include('partials/header') %>


    <div class="contentContainer">

        <h1>Log In</h1>

        <div class="container small">
            <div class="toastHeader">
                <form id="login">
                    <input type="text" name="email" id="email" placeholder="Email">
                    <input type="password" name="password" id="password">
                    <input type="submit" value="Submit">
                </form>
                        
            </div>
        </div>

        



    </div>

<script src="/js/login.js"></script>

<%- include('partials/footer') %>