<%- include('partials/header') %>

    <div class="contentContainer">

        <h1>Register</h1>

        <div class="container small">
            <div class="toastHeader">
            </div>
            <form id="register" class="form">
                <div class="formGroup">
                    <label for="email">Email Address</label>
                    <input type="text" name="email" id="email" placeholder="Email">
                </div>
                <div class="formGroup">
                    <label for="email">Username</label>
                    <input type="text" name="username" id="username">
                </div>
                <div class="formGroup">
                    <label for="email">Password</label>
                    <input type="password" name="password" id="password">
                </div>
                <div class="formGroup">
                    <input type="submit" value="Create Account">
                </div>
            </form>
        </div>

        



    </div>
<script src="/js/signup.js"></script>

<%- include('partials/footer') %>