<!DOCTYPE html>

<html lang="en">
<head>
    <title><%= title %></title>
    <link rel="icon" type="image/png" href="/img/favicon.png">
    <!-- Add fonts, stylesheets -->

    <script src="https://www.gstatic.com/firebasejs/ui/4.6.1/firebase-ui-auth.js"></script>
    <link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/4.6.1/firebase-ui-auth.css" />

    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.1/css/all.css" integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp" crossorigin="anonymous">
    <link href="/css/index.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/instantsearch.js@2.10.4/dist/instantsearch.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <meta property="og:title" content="<%= title %>"/>
    <meta property="og:image" content="/img/ogimage.png">
    <meta property="og:description" content="A collaborative, crowdsourced web-based learning tool." />
</head>

<body>

    <!-- Templated header -->
    <div class="header">

        <div class="headerInner">
            <div class="headerLogo">
                <a href="/">
                    <img src="/img/logo.svg">
                </a>
            </div>
            <div class="headerLinks">
                <ul class="links">

                    

                    <li class="headerLink">
                        <a href="/create">
                            <p>Add a Toast</p>
                        </a>
                    </li>
                    <li class="headerLink profile" id="profileMenu">
                        <a>
                            <img draggable=false class="user" src="/img/profilePic.png">
                            <p>Anonymous&emsp;<i class="fas fa-angle-down"></i></p> <!-- Username -->
                        </a>

                        <div class="dropdown">
                            <a id="dropdownSettings" href="#">Settings</a>
                            <a id="dropdownLogout" href="#">Log Out</a>

                        </div>
                    </li>

                    <!-- End -->
                    
                    
                </ul>
            </div>
        </div>



    </div>